<section class="qualifications">
    <div class="wrapper">
        <h3>
            Qualificações
        </h3>
        <ul class="skills">
            {{component-skill title='Lorem'}}
            {{component-skill title='Lorem'}}
            {{component-skill title='Lorem'}}
            {{component-skill title='Lorem'}}
            {{component-skill title='Lorem'}}
        </ul>
    </div>
</section>