<section class="contact">
    <div class="wrapper box">
        <h4>Contato</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae numquam sit optio debitis dignissimos tempore eius cumque ducimus.</p>
        <span>guilhermegalli5@gmail.com</span>
        <span>Tel: (11) 94586-5050</span>
        <form action="">
            {{input class='input-field' placeholder='Nome'}}
            {{input class='input-field' type='email' placeholder='Email'}}
            {{textarea class='input-field' placeholder='Mensagem' rows='5'}}
            {{component-button type='submit' value='ENVIAR'}}
        </form>
        <div class="container">
            {{logo-github}}
            {{logo-linkedin}}
            {{logo-facebook}}
            {{logo-instagram}}
        </div>
    </div>
</section>